<mat-card *ngFor="let resultado of resultados">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ resultado?.title }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      Com {{ resultado?.total }} likes
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ resultado?.text }}
    </p>
    Carreiras:
    <ul>
      <li *ngFor="let carreira of resultado?.careers">
        <a href="{{ carreira.link }}">{{ carreira.name }}</a>
      </li>
    </ul>
  </mat-card-content>
</mat-card>

<iframe
  [src]="facebookURL"
  width="117" height="28"
  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media">
</iframe>
