<mat-card *ngFor="let resultado of resultados">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ resultado?.title }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      Com {{ resultado?.total }} likes
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ resultado?.text }}
    </p>
    Carreiras:
    <ul>
      <li *ngFor="let carreira of resultado?.careers">
        {{ carreira }}
      </li>
    </ul>
    Áreas relacionadas:
    <ul>
      <li *ngFor="let related of resultado.careers">
        {{ related }}
      </li>
    </ul>
  </mat-card-content>
</mat-card>