:host() {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 1rem;
  @media(min-width: 800px) {
    margin: 0;
    flex-direction: column;
  }
}

mat-card {
  margin: 1rem;
  @media(min-width: 800px) {
    margin: 0;
  }
}
