h1 {
  text-align:center
}

app-questao {
  padding: 5rem;
}

mat-toolbar-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

mat-toolbar-row .menu {
  justify-self: start;
}
mat-toolbar-row .head {
  justify-self: center;
}
mat-toolbar-row .account {
  justify-self: end;
}