<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button classs="menu" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="head">Let's find you a lovely career!</h1>
    <button class="account" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #snav>
      <mat-nav-list>
        <a mat-list-item routerLink=".">Go somewhere</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

      <app-questao></app-questao>

      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>