
:host() {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 1rem;
  @media(max-width: 800px) {
    margin: 0.5rem;
  }
  .folded {
    margin: 0px;
    padding: 0px;
    mat-card-title h1 {
      height: 3.5em;
    }
  }
}
mat-card {
  width: 100%;
  @media(min-width: 800px) {
    width: 800px;
  }
}

mat-card-header {
  display: grid;
  grid-template-columns: 64px auto;
  > * {
    align-self: center;
  }
}
.header-image {
  background-size: cover;
  background-image: url('/assets/emojione-static/64/2754.png');
}
