
:host() {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 1rem;
  @media(max-width: 800px) {
    margin: 0.5rem;
  }
}
mat-card {
  width: 100%;
  @media(min-width: 800px) {
    width: 800px;
  }
}

.foldedTitle {
  display: grid;
  grid-template-columns: auto 64px;
  .foldedAnswer {
    justify-self: end;
  }
  > * {
    align-self: center;
  }
}
.header-image {
  background-size: cover;
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
}
