<mat-card>
  <mat-card-header>
    <mat-card-title (click)="folded = !folded">
      <h1>
        {{ questao.text }}
      </h1>
      <span *ngIf="folded && resposta"
      [innerHTML]="(resposta?.like ? ':expressionless:' : ':heart_eyes:') | emoji | appemoji"></span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="!folded">
    questao.text
  </mat-card-content>
  <mat-card-actions *ngIf="!folded">
    <mat-grid-list cols="5" rowHeight="120px">
      <mat-grid-tile *ngFor="let opcao of [
          { text: 'Hate', icon: 'thumb_down', emoji: ':expressionless:'},
          { text: 'Love', icon: 'favorite', emoji: ':heart_eyes:'}
        ]">
        <button mat-button>
          <span [innerHTML]="opcao.emoji | emoji | appemoji"></span>
          <br>
          <span>{{ opcao.text }}</span>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-actions>
</mat-card>
